.Weekday-container {
  display: flex;
  align-items: center;
  width: 30px !important;
  left: 0px;
  position: sticky;
  background-color: white;
}

.Weekday-text {
  width: 1px;
  word-wrap: break-word;
  vertical-align: middle;
}