.LessonPlanHead{
  top: 76px;
  background: white;
  position: sticky !important;
}
.LessonPlanHead-element{
  margin-left: 10px;
  width: 350px !important;
}
.LessonPlanHead-space {
  width: 30px !important;
}